<style type="text/css" media="screen">
	#book_title, #book_authors {
		width: 400px;
	}
</style>
<% form_for(@book) do |f| %>
<%= f.error_messages %>
<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
</p>
<p>
	<%= render :partial => "authors", :locals => { :f => f } %>
</p>
<p>
	<%= f.submit "Create" %> or <%= link_to 'Cancel', books_path %>
</p>
<% end %>